lab1/
lab2/lab2/.gradle
lab2/lab2/gradle
lab2/lab2/.idea
lab2/lab2/build
lab2/lab2/build.gradle
lab2/lab2/gradlew
lab2/lab2/gradlew.bat
lab2/lab2/gradle/wrapper/gradle-wrapper.jar
lab2/lab2/gradle/wrapper/gradle-wrapper.properties
lab2/lab2/settings.gradle
