lab1/lab1/.idea/
lab1/lab1/.gradle/
lab1/lab1/build/
lab1/.idea/
lab1/lab1/gradle/
lab1/lab1/gradle/wrapper/
lab1/lab1/build.gradle
lab1/lab1/gradlew
lab1/lab1/settings.gradle
lab1/lab1/gradlew.bat
lab1/lab1/gradle/wrapper/gradle-wrapper.jar
lab1/lab1/gradle/wrapper/gradle-wrapper.properties
lab2/
